<!DOCTYPE html>
<html>
<head>
  <title>TimeTrack</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
